<!--<p>citas works!</p>-->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Lista de Citas</h4>
                <h6 class="card-subtitle"></h6>
                <div class="table-responsive">
                                              <h4 class="modal-title" id="myModalLabel">Agregar Nueva Cita</h4> </div>
                                            <div class="modal-body"> 
                                                <form class="form-horizontal form-material">
                                                    <div class="form-group">
                                                        <div class="col-md-12 m-b-20">
                                                            <input type="number" class="form-control"  placeholder="No" name="Id" [(ngModel)]="Id"> </div>
                                                        <div class="col-md-12 m-b-20">
                                                            <input type="date" class="form-control" placeholder="Dia de cita" name="Dia" [(ngModel)]="Dia"> </div>
                                                        <div class="col-md-12 m-b-20">
                                                            <input type="time" class="form-control" placeholder="Hora de cita" name="Hora" [(ngModel)]="Hora"> </div>
                                                        <div class="col-md-12 m-b-20">
                                                            <input type="text" class="form-control" placeholder="Mascota" name="Mascota" [(ngModel)]="Mascota"> </div>
                                                    </div>
                                                        
                                                </form>
                                             </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal" (click)="onSubmit()">Save</button>
                                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div> 
                                    <!-- /.modal-dialog -->
                                </div>
                                <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list footable-loaded footable" data-page-size="10">
                        <thead>
                            <tr>
                                <th class="footable-sortable">No<span class="footable-sort-indicator"></span></th>
                                <th class="footable-sortable">Dia de Cita<span class="footable-sort-indicator"></span></th>
                                <th class="footable-sortable">Hora de Cita<span class="footable-sort-indicator"></span></th>
                                <th class="footable-sortable">Mascota<span class="footable-sort-indicator"></span></th>
                                <th class="footable-sortable">Action<span class="footable-sort-indicator"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let citas of citasList">
                                <td>{{citas.Id}}</td>
                                <td>{{citas.Dia}}</td>
                                <td>{{citas.Hora}}</td>
                                <td>{{citas.Mascota}}</td>
                                <!--ACCIONES-->
                                <td>                                   
                                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="update" (click)="onDelete(citas.$key)"><i class="ti-pencil" aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete" (click)="onDelete(citas.$key)"><i class="ti-close" aria-hidden="true"></i></button>
                                </td>
                            </tr>    
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-contact">Agregar Nueva Cita</button>
                                </td>
                                
                                <!-- <td colspan="7">
                                    <div class="text-right">
                                        <ul class="pagination"> <li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a></li><li class="footable-page-arrow disabled"><a data-page="prev" href="#prev">‹</a></li><li class="footable-page active"><a data-page="0" href="#">1</a></li><li class="footable-page"><a data-page="1" href="#">2</a></li><li class="footable-page-arrow"><a data-page="next" href="#next">›</a></li><li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li></ul>
                                    </div>
                                </td> -->
                            </tr>
                        </tfoot>
                    </table>
                </div>
          
